/* src/index.css */
@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/inter";

body {
  @apply font-sans bg-gray-50 text-gray-800;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}